/* css/footer.css */

footer {
    color: white;
    text-align: center;
    font-size: 2vh;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2vh 0 2vh 0;
    margin-left: 250px
}

/* MEDIA QUERY: Estilos para telas menores */
@media (max-width: 768px) {
    footer {
        margin-left: 0; 
        width: 100%; 
        position: relative;
        position: fixed;
    }
}