/* Terceira Avaliação/css/main.css */

body {
    color: #fff;
    display: flex;
    background-color: #1E1E1E;
    min-height: 100vh;
    overflow-x: hidden;
}

body .menu-open {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.content {
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
    margin-left: 250px;
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
    transition: opacity 0.4s ease-in-out;
}

/* Classe que o JS adiciona para FAZER O CONTEÚDO SUMIR */
.fade-out {
    opacity: 0;
}

/* Classe que o JS adiciona para FAZER O CONTEÚDO APARECER (após o fade-out e injeção do novo HTML) */
.fade-in {
    opacity: 1;
}

@media (max-width: 768px) {

    /* Em mobile, remove a margem, pois a sidebar estará oculta */
    .content {
        margin-left: 0;
        padding: 20px 10px;
        min-height: 100vh;
        overflow-x: hidden;
    }
}