.section_div {
    display: flex;
    flex: 1;
}

section {
    width: 100%;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
    max-height: 100vh;
    background-color: black;
    text-align:right;
}
