/* css/sidebar.css */

.sidebar_color {
    background-color: #222222;
    width: 250px;
    min-width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/*organização da barra lateral*/
.sidebar {
    color: #ffffff;
    height: 100vh;
    right: 100vh;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    font-size: 2vb;
}

.sidebar {
    justify-content: center;
}

/* reposicionar a logo*/
.sidebar .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10lvb;
}

/*corpo da lista*/
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*itens da lista*/
.sidebar ul li {
    margin: 10vb 5vb 10vb 5vb;
}

.sidebar ul li a img {
    padding-right: 1vb;
    width: 2vb;
}

.sidebar ul li a {
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding: 1px 10px 1px 10px;
    transition: .5s ease;
}


.sidebar ul li a img {
    padding-right: 1vh;
    width: 2vb;
}


/* MEDIA QUERY: Estilos para telas com largura máxima de 768px (mobile) */
@media (max-width: 768px) {

    /* Oculta a sidebar movendo-a completamente para fora da tela */
    .sidebar_color {
        transform: translateX(-100%);
        box-shadow: none;
    }

    /* Move a sidebar de volta para a tela quando a classe 'active' é adicionada pelo JS */
    .sidebar_color.active {
        transform: translateX(0);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    /* Oculta a logo em mobile para dar espaço */
    .sidebar .logo {
        display: none;
    }

    .sidebar ul li {
        margin: 20px 0;
    }
}